[flake8]
exclude = .git,__pycache__,docs/source/conf.py,old,build,dist,.venv

# black compatible ref: https://black.readthedocs.io/en/stable/the_black_code_style/current_style.html
max-line-length = 88
extend-ignore = E203
